:root {
  /* Layout */
  --mobile-width: 375px;
  --desktop-width: 1440px;

  /* Colors */
  /* Primary */
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);

  /* Typography */
  --font-family: 'Barlow Semi Condensed', sans-serif;
  --font-size-body: 13px;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}

*,
::before,
::after{
  box-sizing: border-box;
}

body{
  background-color: var(--grey-100);
  font-size: var(--font-size-body);
  font-family: var(--font-family);
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 5rem 1.5rem;
}

.page-container{
  display: grid;
  gap: 1.8rem;
  margin-bottom: 1rem;
}

.card{
  border-radius: 0.45rem;
    padding: 1.4rem 2.1rem;
}


.profile-content{
  display: flex;
  gap: 1.2rem;
  align-items: center;
  line-height: 0.4;
}

.profile-content img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.purple .profile-content img,
.blue .profile-content img{
  border: 2px solid var(--purple-300);
}

.profile-content p:first-child {
  color: var(--card-title-color);
  font-weight: var(--font-weight-semibold);
}

.profile-content p:last-child {
  font-size: 0.7rem;
  color: var(--card-status-color);
}

.card>p:nth-of-type(1) {
  font-size: 1.3rem;
  font-weight: var(--font-weight-semibold);margin-top: 0.5rem;
  color: var(--card-title-color);
}

.card>p:nth-of-type(2) {
  font-size: 0.88rem;
  color: var(--grey-100);
  color: var(--card-text-color);
}

.purple {
  background-color: var(--purple-500);
  --card-title-color: white;
  --card-text-color: var(--grey-100);
  --card-status-color: var(--grey-200);
}

.gray {
  background-color: var(--grey-500);
  --card-title-color: white;
  --card-text-color: var(--grey-100);
  --card-status-color: var(--grey-200);
}

.white {
  background-color: white;
  --card-title-color: var(--grey-400);
  --card-text-color: var(--grey-400);
  --card-status-color: var(--grey-400);
}

.blue {
  background-color: var(--dark-blue);
  --card-title-color: var(--white);
  --card-text-color: var(--white);
  --card-status-color: var(--white);
}

.attribution {
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
  text-align: center;
  color: black;
}

.attribution a {
  color: var(--purple-500);
}
@media (min-width: 1440px) {
  .container {
    padding: 10rem 2rem;
  }

  .page-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 1150px;
    margin: 0 auto 5rem;
  }

  .card:nth-child(1) {
    /* Purple - Daniel */
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .card:nth-child(2) {
    /* Gray - Jonathan */
    grid-column: 3;
    grid-row: 1;
  }

  .card:nth-child(3) {
    /* White - Jeanette */
    grid-column: -5 / -4;
    grid-row: 2;
  }

  .card:nth-child(4) {
    /* Blue - Patrick */
    grid-column: -4 / -2;
    grid-row: 2;
  }

  .card:nth-child(5) {
    /* White - Kira */
    grid-column: 4 / 5;
    grid-row: -1 / 3;
  }
}